/* ==================================================================
    Header and Nav
================================================================== */

nav {
    width: 64%;
    display: inline-block;
}

nav ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

nav li a {
    color: #004de6;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    float: center;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    border-bottom: 2px solid #4C9CF1;
    transition: color 0.3s ease;
}

nav li ul li {
    display: block;
    text-decoration: none;
}

nav li ul li a {
    color: #004de6;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    float: center;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    border-bottom: 1px solid #4C9CF1;
    transition: color 0.3s ease;
}

header {
    text-align: right;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

header .blog-name-logo {
    width: 5em;
}

header .blog-name {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: 1.25em;
    font-family: 'Literata', sans-serif;

    font-weight: 500;
    padding-top: 0px;
}

header .blog-name-logo-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header .blog-name a {
    display: inline-flex;
    color: #a6a2a0;
    text-decoration: none;
}

header li a:hover {
    color: black;
    border-bottom: 2px solid black;
}


#menu-icon {
    display: none;
}

@media (max-width: 480px) {
    header {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media (min-width: 481px) {
    header {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 1280px) {
    header {
        width: 54rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
    header {
        display: block;
    }

    header .blog-name {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }

    nav {
        width: 100%;
    }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
    header {
        /* height: 35px; */
        display: flex;
        position: relative;
        align-items: center;
    }

    .tagline {
        /* display: none; */
    }

    .blog-name-logo {
        transform: scale(0.7);
        height: 4em;
    }

    header .blog-name {
        display: inline-block;
        /* width: 70%;  */
    }

    nav {
        display: inline-block;
        /* width: 27%;  */
        text-align: left;
        padding-right: 10px;
    }

    nav ul, nav:active ul {
        /* display: none; */
        position: relative;
        /* padding: 20px; */
        background: #fff;
        /* border: 1px solid #444; */
        /* right: 50px; */
        /* top: 60px; */
        /* width: 30%; */
        border-radius: 4px 0 4px 4px;
        z-index: 1;
    }

    nav li {
        text-align: left;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    nav li ul li {
        padding-left: 10px;
    }

    header li a {
        border-bottom: none;
    }

    header li a:hover {
        border-bottom: none;
    }

    nav:hover ul {
        display: block;
    }

    #menu-icon {
        display: none;
        margin-right: 10px;
        margin-top: 5px;
    }
}

div .wide_table_reponsive {
    overflow-x: auto;
}

table {
    line-height: 1.35em;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1.5em
}

tr:first-of-type {
    background: #eae9f4
}

tr:first-of-type>th {
    text-align: center
}

tr,
th,
td {
    padding: 10px;
    border: 1px solid lightgray
}

table tbody tr td {
    border: 1px solid lightgray
}

body {
    background-color: rgb(255, 250, 250);
}


@font-face {
    font-family: JuliaMono;
    font-display: swap;
    src: url("/assets/_fonts/JuliaMono-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Literata';
    font-style: normal;
    font-display: swap;
    src: url("/assets/_fonts/Literata.woff2") format('woff2');
}

@font-face {
    font-family: 'Literata';
    font-style: italic;
    font-display: swap;
    src: url("/assets/_fonts/Literata-Italics.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    src: url("/assets/_fonts/Open-Sans.woff2") format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-display: swap;
    src: url("/assets/_fonts/Open-Sans-Italics.woff2") format('woff2');
}