<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Practical, extensible, and open-source actuarial modeling and analysis.">
  <meta property="og:description" content="Practical, extensible, and open-source actuarial modeling and analysis.">
  <meta property="og:image" content="/assets/logo_square.svg">

  {{if hasmath}} {{insert head_katex.html }} {{end}}
  {{insert head_math.html }}
  {{if hascode}} {{insert head_highlight.html }} {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="icon" href="/assets/favicon.png">
  {{isdef title}} <title>{{fill title}} | JuliaActuary</title> {{end}}


  <!-- favicon stuff -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">

  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.2.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
    defer></script>
  <link href="/css/slider.css" rel="stylesheet">


</head>

<body>
  {{insert header.html}}

  <!-- Content appended here -->