 This is a basic workflow to help you get started with Actions

name: Preview

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  preview:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Fix URLs for PR preview deployment (pull request previews)
        run: |
          echo "PREVIEW_FRANKLIN_WEBSITE_URL=https://loving-kalam-b3f6e6.netlify.app/previews/PR${{ github.event.number }}/" >> $GITHUB_ENV
          echo "PREVIEW_FRANKLIN_PREPATH=previews/PR${{ github.event.number }}" >> $GITHUB_ENV
      - name: Deploy (preview)
        if: github.event_name == 'pull_request' && github.repository == github.event.pull_request.head.repo.full_name # if this build is a PR build and the PR is NOT from a fork
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          BRANCH: gh-preview # The branch where the PRs previews are stored
          FOLDER: __site
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_FOLDER: "previews/PR${{ github.event.number }}" # The website preview is going to be stored in a subfolder
